
{% load static %}
<html lang="en"><head>
    <meta charset="UTF-8">    <title align="center">Tourism Travel Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h2 align="center"><font color="RED">KLU Tourism & Travel Management</font></h2>
    <hr>    {% block b1 %}
    <a href="login"> Login </a>
    {% endblock %}
</body>
</html>